<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>推免资格查询</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="/resources/favicon.ico">
    <link rel="stylesheet" href="resources/layui/css/layui.css" th:href="@{/resources/layui/css/layui.css}"
          media="all"/>
    <link rel="stylesheet" href="resources/css/public.css" th:href="@{/resources/css/public.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/resources/layui_ext/dtree/dtree.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/resources/layui_ext/dtree/font/dtreefont.css}" media="all"/>
</head>
<style>
    .uploadcss{
        text-align: center;
        margin-top: 15px;
    }
    .centerupload{
        margin: 0 auto;
    }
</style>
<body class="childrenBody">
<!--查询条件-->
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 15px;">
    <legend>亲爱的<span th:text="${session.user.name}"></span>你<span style="color: red" th:text="${session.qualify}"></span>竞争资格</legend>
</fieldset>
<div style="margin-bottom: 20px">

    <form action="" method="post" id="searchFrm" lay-filter="searchFrm" class="layui-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">学生姓名</label>
                <div class="layui-input-inline">
                    <input type="text" name="username" id="username" class="layui-input input-radius"
                           placeholder="请输入学生姓名">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">竞争资格</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="qua" lay-skin="switch" lay-text="有|无">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: center;padding-right: 15%;">
                <button type="button" class="layui-btn layui-btn-sm layui-btn-radius" lay-submit="" lay-filter="doSearch"><i
                        class="layui-icon layui-icon-search layui-icon-normal"></i>查询
                </button>
                <button type="reset" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-warm" onclick="location.reload();"><i
                        class="layui-icon layui-icon-refresh"></i><span>重置</span>
                </button>
            </div>
        </div>
    </form>

</div>

<!--数据表格-->
<div>
    <table class="layui-hide" id="scoreTable" lay-filter="scoreTable"></table>

    <div id="scoreToolBar" style="display: none">
    </div>

    </div>

</div>





<script type="text/javascript" src="/resources/layui/layui.js"></script>

<script type="text/javascript">
    layui.config({base:'/resources/layui_ext/'}).extend({ dtree: 'dtree/dtree',echarts: 'echarts/echarts'}).use(['jquery', 'form', 'layer', 'laydate', 'table','layedit','upload', 'dtree','element', 'echarts'], function () {
        var $ = layui.jquery;
        var element = layui.element;
        echarts = layui.echarts;
        var form = layui.form;
        var layer = layui.layer;
        var laydate = layui.laydate;
        var table = layui.table;
        var layedit = layui.layedit;
        var upload = layui.upload;
        var dtree = layui.dtree;






        //初始化表格 加载数据
        var tableIns = table.render({
            elem: "#scoreTable",
            title: "成绩数据表格",
            url: "/bus/basicscore/loadbasicscore",
            toolbar: "#scoreToolBar",
            page: true,
            height: "full-190",
            cols: [ [
                {field: 'id', title: 'ID', align: 'center'},
                {field: 'userid', title: '学号', align: 'center'},
                {field: 'username', title: '姓名', align: 'center'},
                {field: 'deptname', title: '班级', align: 'center'},
                {field: 'pdeptname', title: '专业', align: 'center'},
                {field: 'avascore', title: '平均成绩', align: 'center'},
                {field: 'avastuscore', title: '平均学分成绩', align: 'center'},
                {field: 'addscore', title: '加权学分成绩', align: 'center'},
                {field: 'paddscore', title: '特殊加权学分成绩', align: 'center'},
                {field: 'rank', title: '名次', align: 'center'},
                {field: 'qualify', title: '资格', align: 'center'},
            ] ],
            done:function (data, curr, count) {
                for (var i=0;i<data.data.length;i++)   //遍历返回数据
                {
                    if(data.data[i].qualify=="有")    //设置条件
                    {
                        $("table tbody tr").eq(i).css('color','green')    //改变满足条件行的颜色
                    }
                }

                /*if(data.count==0&&data.data.length==0){
                    tableIns.reload({
                        page:{
                            curr:1
                        }
                    })
                }else*/
                /* console.log(data);
                 console.log(curr);  //1
                 console.log(count); //0*/

                if(data.data.length==0&&curr!=1){   //不是第一页时，如果当前返回的数据为0那么就返回上一页
                    tableIns.reload({
                        page:{
                            curr:curr-1
                        }
                    });
                }/*else if (data.data.length==0 && curr==1){    //当前是第一页时，如果当前返回的数据为0并且当前为第一页  给一个空的查询条件，并给curr赋初值为1
                    tableIns.reload({
                        where: "",
                        page:{
                            curr:1
                        }

                    });
                }*/
            }
        });








        //监控模糊查询按钮事件
        form.on("submit(doSearch)", function (data) {
            if(data.field.qua=='on'){
                data.field.qualify="有";
            }
            else {
                data.field.qualify="无";
            }
            console.log(data.field.qualify);
            tableIns.reload({
                where: data.field,
                page: {
                    curr: 1
                }
            });
            return false;
        });







    });

</script>

</body>
</html>